html
  head
    title Yi-Wei Ang | Product Manager, Growth, and UX
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
    link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic,100italic' rel='stylesheet' type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="scripts/ga.js")
    script(src="scripts/main.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
  body
    .container
      .left-rail
        img.profile(src="images/yiwei.jpg")
      .right-rail
        span.header Yi-Wei Ang
        p Currently 
          i Product Manager of Growth 
          | at TradeGecko
        p.sub I build products to simplify the way people work. 
        span 
          a(href="mailto:hello@yiweiang.me")
            i.icon.fa.fa-envelope.fa-lg  
          a(href="https://sg.linkedin.com/in/yiweiang")
            i.icon.fa.fa-linkedin.fa-lg
          a(href="https://www.github.com/yiweiang")
            i.icon.fa.fa-github.fa-lg
