html
  head
    title Yi-Wei Ang
    link(rel="stylesheet" type="text/css" href="style.css")
    link(href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css')
  body
    .container
      .left-rail
        img.profile(src="yiwei.jpg")
      .right-rail
        p 
          | I'm Yi-Wei Ang, and I work on 
          strong Growth 
          | at TradeGecko.
        p I build things that make your life easier. 