html
  head
    title Yi-Wei Ang | Growth, Product Management, and UX
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
    link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic,100italic' rel='stylesheet' type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="scripts/ga.js")
    script(src="scripts/main.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
  body#top
    .nav
      p.active 
        a.scroll.aboutme(href="#top") About Me
      p 
        a.scroll.whereiveworked(href="#middle") Where I've Worked
    .shell
      section.container
        .left-rail
          img.profile(src="images/yiwei.jpg")
        .right-rail
          span.header Yi-Wei Ang
          p Currently 
            i Senior Growth Lead 
            | at TradeGecko
          p.sub I build products to simplify the way people work. 
          span 
            a(href="mailto:hello@yiweiang.me")
              i.icon.fa.fa-envelope.fa-lg  
            a(href="https://sg.linkedin.com/in/yiweiang")
              i.icon.fa.fa-linkedin.fa-lg
            a(href="https://www.github.com/yiweiang")
              i.icon.fa.fa-github.fa-lg
            a(href="https://medium.com/@yiwei.ang")
              i.icon.fa.fa-medium.fa-lg
    section.cv#middle
      .cvtext
        span.header Where I've Worked
          p.cvheader TradeGecko
          p.cvsub Senior Growth Lead  
          p.cvheader Microsoft
          p.cvsub Program Manager 2, Developer Division 
          p.cvheader IBM
          p.cvsub UX Designer &amp Researcher for DB2