.container{
  max-width: 1100px;
  min-width:1100px;
  height:600px;
  margin: 0 auto;
  position: relative;
  background-color:white;
  position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.left-rail{
  width: 40%;
   float:left;
}

.right-rail{
  width:45%; 
  float:left;
  margin-top:180px;
  margin-left: 120px;
}

.profile{
  height:100%;
}

body{
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size:20px;
  font-weight:300;
}

.header{
  font-size:48px;
}

.icon{
  color:#b3b3b3;
  padding-right:20px; 
  padding-top:10px;
}

p{
  padding-top:10px;
}